<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- for icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="all">

    <!-- Title Page-->
    <title>@ViewBag.Title</title>

    <!-- Fontfaces CSS-->
    <link href="~/Content/css_user/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor_user/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor_user/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/vendor_user/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Content/css_user/theme.css" rel="stylesheet" media="all">
 


</head>



<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <h4 style="color:white">
                    <img src="~/Pictures/icon/ensa_2.jfif" class="rounded-circle mr-3" style="width:68px; height:58px;"/>
                    ENSA SAFI
                </h4>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">        
                    <div>
                        <img src="../Pictures/userPic/@Session["photo"].ToString()" id="frontImage" style="border-radius: 50%; width:140px; height:140px;" />
                    </div>
                    <h4 class="name">@Session["nom"] @Session["prenom"]</h4>
                    <a href="/Home/Deconnexion">Sign out</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href='@Url.Action("Index", "Home")'>
                                <i class="iconify mr-3" data-icon="ion:home" data-inline="true" style="color:hotpink; height:25px; width:25px;"></i>Home
                            </a>
                        </li>
                        <li>
                            <a href='@Url.Action("ModifierPersonel", "Home")'>
                                <i class="iconify mr-3" data-icon="fa-solid:user-edit" data-inline="true" style="color:dodgerblue; height:25px; width:25px;"></i>Informations Personnelles
                            </a>
                        </li>
                        <li>
                            <a href='@Url.Action("Fiche", "Home")'>
                                <i class="iconify mr-3" data-icon="bx:bxs-file-doc" data-inline="true" style="color:crimson; height:28px; width:28px;"></i>Fiche de Convocation
                            </a>
                        </li>
                        <li>
                            <a class="js-arrow" href='@Url.Action("ModifierDiplome", "Home")'>
                                <i class="iconify mr-3 " data-icon="vaadin:diploma" data-inline="true" style="color:darkorchid; height:25px; width:25px;"></i>Diplôme
                            </a>
                        </li>
                        <li>
                            <a href='@Url.Action("ModifierBac", "Home")'>
                                <i class="iconify mr-3" data-icon="mdi:bulletin-board" data-inline="true" style="color: coral; height:25px; width:25px;"></i>Baccalauréat
                            </a>
                        </li>
                        <li>
                            <a href='@Url.Action("ModifierFiliere", "Home")'>
                                <span class="iconify mr-3" data-icon="bx:bxs-calendar-edit" data-inline="true" style="color: darkturquoise; height:25px; width:25px;"></span>Filière
                            </a>
                        </li>

                        <li>
                            <a class="js-arrow" href='@Url.Action("Epreuve", "Home")'>
                                <i class="iconify mr-3" data-icon="fa-regular:file-pdf" data-inline="true" style="color:goldenrod; height:25px; width:25px;"></i>Anciens Epreuves
                            </a>
                        </li>
                        <li>
                            <a href='@Url.Action("Deconnexion", "Home")'>
                                <span class="iconify mr-3" data-icon="ls:logout" data-inline="true" style="color:mediumvioletred; height:28px; width:28px;"></span>Deconnexion
                            </a>
                        </li>
                        

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <h3 style="color:white">
                            Inscription au Concours d'accès à l'ENSAS
                        </h3>
                        <div class="header-wrap2">

                            <div class="logo d-block d-lg-none">
                                <div class="logo">
                                    <h3 style="color:white">
                                        <img src="~/Pictures/icon/ensa_2.jfif" class="rounded-circle mr-3" style="width:64px; height:52px;" />
                                        ENSA SAFI
                                    </h3>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>

            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                    <a href="#">
                        <img src="../Pictures/icon/logo-white.png" alt="Cool Admin" />
                    </a>
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        <div class="image img-cir img-120">
                            <img src="../Pictures/icon/avatar-big-01.jpg" alt="John Doe" />
                        </div>
                        <h4 class="name">john doe</h4>
                        <a href="#">Sign out</a>
                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="index.html">
                                            <i class="fas fa-tachometer-alt"></i>Dashboard 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index2.html">
                                            <i class="fas fa-tachometer-alt"></i>Dashboard 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index3.html">
                                            <i class="fas fa-tachometer-alt"></i>Dashboard 3
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index4.html">
                                            <i class="fas fa-tachometer-alt"></i>Dashboard 4
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="inbox.html">
                                    <i class="fas fa-chart-bar"></i>Inbox
                                </a>
                                <span class="inbox-num">3</span>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-shopping-basket"></i>eCommerce
                                </a>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-trophy"></i>Features
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="table.html">
                                            <i class="fas fa-table"></i>Tables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="form.html">
                                            <i class="far fa-check-square"></i>Forms
                                        </a>
                                    </li>
                                    <li>
                                        <a href="calendar.html">
                                            <i class="fas fa-calendar-alt"></i>Calendar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="map.html">
                                            <i class="fas fa-map-marker-alt"></i>Maps
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-copy"></i>Pages
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="login.html">
                                            <i class="fas fa-sign-in-alt"></i>Login
                                        </a>
                                    </li>
                                    <li>
                                        <a href="register.html">
                                            <i class="fas fa-user"></i>Register
                                        </a>
                                    </li>
                                    <li>
                                        <a href="forget-pass.html">
                                            <i class="fas fa-unlock-alt"></i>Forget Password
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-desktop"></i>UI Elements
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="button.html">
                                            <i class="fab fa-flickr"></i>Button
                                        </a>
                                    </li>
                                    <li>
                                        <a href="badge.html">
                                            <i class="fas fa-comment-alt"></i>Badges
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tab.html">
                                            <i class="far fa-window-maximize"></i>Tabs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="card.html">
                                            <i class="far fa-id-card"></i>Cards
                                        </a>
                                    </li>
                                    <li>
                                        <a href="alert.html">
                                            <i class="far fa-bell"></i>Alerts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="progress-bar.html">
                                            <i class="fas fa-tasks"></i>Progress Bars
                                        </a>
                                    </li>
                                    <li>
                                        <a href="modal.html">
                                            <i class="far fa-window-restore"></i>Modals
                                        </a>
                                    </li>
                                    <li>
                                        <a href="switch.html">
                                            <i class="fas fa-toggle-on"></i>Switchs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="grid.html">
                                            <i class="fas fa-th-large"></i>Grids
                                        </a>
                                    </li>
                                    <li>
                                        <a href="fontawesome.html">
                                            <i class="fab fa-font-awesome"></i>FontAwesome
                                        </a>
                                    </li>
                                    <li>
                                        <a href="typo.html">
                                            <i class="fas fa-font"></i>Typography
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>

            <!-- END HEADER DESKTOP-->

            @RenderBody()



            <section>
                <div class="container-fluid mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2020 Ecole Nationale Des Sciences Appliquées de Safi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END PAGE CONTAINER-->
        </div>
    </div>

    <!-- ICONS -->
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>


    <!-- Jquery JS-->
    <script src="~/vendor_user/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/vendor_user/bootstrap-4.1/popper.min.js"></script>
    <script src="~/vendor_user/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/vendor_user/slick/slick.min.js">
    </script>
    <script src="~/vendor_user/wow/wow.min.js"></script>
    <script src="~/vendor_user/animsition/animsition.min.js"></script>
    <script src="~/vendor_user/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/vendor_user/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendor_user/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/vendor_user/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor_user/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor_user/chartjs/Chart.bundle.min.js"></script>
    <script src="~/vendor_user/select2/select2.min.js">
    </script>
    <script src="~/vendor_user/vector-map/jquery.vmap.js"></script>
    <script src="~/vendor_user/vector-map/jquery.vmap.min.js"></script>
    <script src="~/vendor_user/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/vendor_user/vector-map/jquery.vmap.world.js"></script>

    <!-- Main JS-->
    <script src="~/Scripts/js_user/main.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script>
        $(function () {
           
            $(".datePicker").datepicker({
                
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                yearRange:"1993:2002"
               
                
               

            });
            
        });

    </script>



</body>

</html>
<!-- end document-->
