


@if (ViewBag.imprimer == "imprimer")
{
    {
        Layout = "~/Views/Shared/PdfLayout.cshtml";
    }

}


@if (ViewBag.imprimer == "imprimer")
{
    <style>
        body {
            padding-top: 50px;
        }

        .second_table {
            margin-top: 50px;
        }
    </style>

}


<style>
    td {
        font-size: 16px;
    }

    th {
        font-size: 18px;
        color: white;
    }

    .myborder {
        padding-top: 10px;
        margin: 0 auto;
    }

    img {
        padding: unset;
    }

    h1 {
        margin: 10px 10px 10px 10px;
        text-align: center;
    }
</style>

<br /> <br /> <br />


<h2 class=" my-4 text-center font-weight-bold">
    <i class="iconify mr-3" data-icon="bx:bxs-file-doc" data-inline="true" style="color:crimson; height:38px; width:38px;"></i>
    Convocation du Concours d'accès à ENSA
</h2>



<div class="row myborder">

    <div class="col-lg-6 col-md-8 col-xs-8 col-sm-8">
        <table class="table table table-bordered table-primary">

            <tr>
                <th class="bg-primary">  <img width="100" src="~/Pictures/ENSA.jpg" /> </th>
                <th class="bg-primary"> Ensa de Safi <br /> Concours d'accès en 3eme année </th>
                <th rowspan="4"> <img src="../Pictures/userPic/@Model.Photo" class="mt-4" id="image" style="border-radius: 50%; width:250px; height:150px" /></th>
            </tr>

            <tr>
                <th class="bg-primary">  Matricule: </th>
                <td> @Model.Cne</td>
            </tr>
            <tr>
                <th class="bg-primary"> CIN: </th>
                <td> @Model.Cin</td>
            </tr>
            <tr>
                <th class="bg-primary"> N°dossier: </th>
                <td> @Model.Num_dossier</td>
            </tr>
        </table>

    </div>





</div>

<br />

<table class="table table-bordered table-primary">
    <tr class="bg-primary">
        <th>Nom</th>
        <th>Prenom</th>
        <th>Filiere</th>
        <th>Diplome</th>
        <th>CNE</th>
        <th>Ville Dipl</th>
        <th>Convoqué</th>
        <th>Date inscription</th>
    </tr>

    <tr>
        <td>@Model.Nom</td>
        <td>@Model.Prenom</td>
        <td>@Model.Filiere.Nom</td>
        <td>@Model.Diplome.Type</td>
        <td>@Model.Cne</td>
        <td>@Model.Diplome.VilleObtention</td>
        <td>@Model.Convoque </td>


        <td>@Model.DateInscription</td>
    </tr>
</table>

@if (ViewBag.imprimer != "imprimer")
{

    <div class="my-5 text-center">
        <a href="ImprimerConvocation?cne=@Model.Cne"> <input class="btn btn-danger " type="text" value="Imprimer" /></a>
    </div>
}




