
@{
    ViewBag.Title = "Index";
}

<section>
    <div class="section__content section__content--p30 m-t-75">
        <div class="container-fluid">
            <!-- USER DATA-->
            <div class="user-data m-b-40">
                
                <div class="row">
                    <div class="col-12">
                        @if (TempData["message"] != null)
                        {
                            <div class="form-group">
                                <div class="alert alert-success ml-3 mr-3">
                                    <span>@TempData["message"]</span>
                                </div>
                            </div>
                        }
                        @if (ViewData["error"] != "")
                        {
                            <div class="form-group">
                                <div class="alert alert-danger ml-3 mr-3">
                                    <span>@ViewData["error"]</span>
                                </div>
                            </div>
                        }<br>
                        <h2 class="title-3 mb-4 text-center font-weight-bold">
                            <i class="iconify mr-3" data-icon="ion:home" data-inline="true" style="color:hotpink; height:35px; width:35px;"></i>
                            Bienvenue Candidat
                        </h2>

                        <hr style="margin:15px 170px 40px 180px" />
                        <p class="text-center pb-4">
                            Vous êtes sur votre espace d'inscription au concours d'accès de l'ENSA de Safi
                        </p>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-3 offset-5 mb-2">

                        <div>

                            <p><strong>@Model.Nom @Model.Prenom </strong> </p>
                            <p><strong> CNE </strong> : @Model.Cne</p>

                            <p><strong> CIN </strong>: @Model.Cin  </p>
                            <p><strong> Email </strong> : @Model.Email</p>
                        </div>
                        <br />

                        </div>
                    </div>
                <div class="row">
                    <div class="col-10 offset-1">

                        <div >
                            <h4 class="mb-3"> Dates Critiques : </h4>

                            <div class="row">
                                <div class="col-lg-8 alert alert-danger" role="alert" >
                                    La date limite d'inscription est le 20/06/2020
                                </div>
                                <div class=" col-lg-8 alert alert-warning" role="alert">
                                    Le concours aura lieu le 20/08/2020
                                </div>
                                <div class="col-lg-8 alert alert-info" role="alert">
                                    Veuillez imprimer la fiche d'inscription et l'avoir le jour du concours !!
                                </div>
                                <div class=" col-lg-8 alert alert-success" role="alert">
                                    Les résultats du concours seront prêts 3 jours après le passage du concours
                                </div>
                            </div>
                            
                            

                        </div>
                    </div>
                </div>
                <br /><br />


            </div>
        </div>
    </div>
</section>
