
@{
    ViewBag.Title = "Index";
}


<section>
    <div class="section__content section__content--p30 m-t-75">
        <div class="container-fluid">
            <!-- USER DATA-->
            <div class="user-data m-b-40">
                @if (TempData["message"] != null)
                {
                    <div class="form-group">
                        <div class="alert alert-success ml-3 mr-3">
                            <span>@TempData["message"]</span>
                        </div>
                    </div>
                }
                @if (ViewData["error"] != "")
                {
                    <div class="form-group">
                        <div class="alert alert-danger ml-3 mr-3">
                            <span>@ViewData["error"]</span>
                        </div>
                    </div>
                }<br>
                <h3 class="title-3 m-b-30">
                    <i class="zmdi zmdi-account-calendar" style="padding-left:390px;"></i>user data
                </h3>

                <div style="padding-left:420px;">

                    <p><strong>@Model.Nom @Model.Prenom </strong> </p>
                    <p><strong> CNE </strong> : @Model.Cne</p>

                    <p><strong> CIN </strong>: @Model.Cin  </p>
                    <p><strong> Email </strong> : @Model.Email</p>
                </div>
                <br />

                <div style="padding-left:200px">
                    <h3> NB : </h3>


                    <div class="alert alert-danger" role="alert" style="width: 590px">
                        La date limite d'inscription est le 20/06/2020
                    </div>
                    <div class="alert alert-warning" role="alert" style="width: 590px">
                        Le concours aura lieu le 20/08/2020
                    </div>
                    <div class="alert alert-info" role="alert" style="width: 590px">
                        Veuillez imprimer la fiche d'inscription et l'avoir le jour du concours !!
                    </div>
                    <div class="alert alert-success" role="alert" style="width: 590px">
                        Les résultats du concours seront prêts 3 jours après le passage du concours
                    </div>

                </div>
                <br /><br />


            </div>
        </div>
    </div>
</section>
