
@model GestionConcours.Models.Candidat
@{
    ViewBag.Title = "ModifierPersonel";
}


<section>
    <div class="section__content section__content--p30 m-t-75">
        <div class="container-fluid">
            <!-- USER DATA-->
            <div class="user-data m-b-40">
                <h3 class="title-3 m-b-30">
                    <i class="zmdi zmdi-account-calendar"></i>modification des informations personelles
                </h3>
                <div class="offset-5">
                    <img src="../Pictures/userPic/@Session["photo"].ToString()" id="image" style="border-radius: 50%; width:150px; height:150px" />
                </div>
                <br/>
                <div class="offset-2">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="file" id="input" name="imageUpload" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" id="uploadButton">Upload Image</button>
                        </div>
                    </div>
                </div><br />

                @using (Html.BeginForm("ModifierPersonel", "Home", FormMethod.Post))
                {
                    <div class="row d-flex justify-content-center m-b-30">
                        <div class="col-md-11">

                            <div class="form-horizontal ">


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Cne)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nom, "Nom :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Prenom, "Prenom :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cin, "Cin (carte d'identité nationale) :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Cin, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Cin, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DateNaissance, "Date de naissance :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DateNaissance, new { htmlAttributes = new { @class = "form-control datePicker" } })
                                        @Html.ValidationMessageFor(model => model.DateNaissance, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LieuNaissance, "Lieu de naissance :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.LieuNaissance, new { htmlAttributes = new { @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.LieuNaissance, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nationalite, "Nationalite :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Nationalite, new { htmlAttributes = new { @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.Nationalite, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Gsm, "GSM :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Gsm, new { htmlAttributes = new { @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.Gsm, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telephone, "Tel :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adresse, "Adresse :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Ville, "Ville :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, "Password :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, "Email :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 d-flex justify-content-end">
                                        <input type="submit" value=" Enregistrer " class="btn btn-default px-4 mt-2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#uploadButton").click(function () {
            var file = $("#input").get(0).files[0];
            var formData = new FormData();
            formData.set("file", file, file.name);

            $.ajax({
                url: "/Home/Image",
                method: "post",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response != "icon.png") {
                        $("#image").attr("src", "../Pictures/userPic/" + response);
                        $("#frontImage").attr("src", "../Pictures/userPic/" + response);
                    }
                    else {
                        alert("error");
                    }
                }
            })
            .then(function(result) {
               
            });
                });
    })
</script>

    
    
