@model GestionConcours.Models.Baccalaureat
@{
    ViewBag.Title = "ModifierBac";
}

<section>
    <div class="section__content section__content--p30 m-t-75">
        <div class="container-fluid">
            <!-- USER DATA-->
            <div class="user-data m-b-40 ">
                <h2 class="m-b-30 font-weight-bolder m-l-20">
                    <i class="iconify" data-icon="mdi:bulletin-board" data-inline="true" style="color: burlywood; height:40px; width:40px;"></i> Notes du Bacalauréat
                </h2>

                <hr class="col-md-9 m-l-20" />



                @using (Html.BeginForm("ModifierBac", "Home", FormMethod.Post))
                {
                    <div class="row d-flex justify-content-center m-b-30">
                        <div class="col-md-11">

                            <div class="form-horizontal ">


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Cne)


                                <div class="form-group">
                                    @Html.LabelFor(model => model.TypeBac, "Type du Bac :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.TypeBac, ViewBag.typeBac as SelectList, htmlAttributes: new { @class = "form-control " })
                                        @Html.ValidationMessageFor(model => model.TypeBac, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DateObtentionBac, "Date d'obtention du Bac :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DateObtentionBac, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DateObtentionBac, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NoteBac, "Note du Bac :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.NoteBac, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NoteBac, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MentionBac, "Metion du Bac :", htmlAttributes: new { @class = "control-label col-md-10 text-secondary font-weight-bold" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.MentionBac, ViewBag.mention as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MentionBac, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 d-flex justify-content-end">
                                        <input type="submit" value=" Enregistrer " class="btn btn-default px-4 mt-2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }




            </div>
        </div>
    </div>
</section>

