@model GestionConcours.Models.DiplomeNote
@{
    ViewBag.Title = "ModifierDiplome";
}

<section>
    <div class="section__content section__content--p30 m-t-75">
        <div class="container-fluid">
            <!-- USER DATA-->
            <div class="user-data m-b-40">
                <div class="col-md-12 register-right">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            @using (Html.BeginForm())
                            {
                                <div class="row register-form " style="padding-bottom: 40px">
                                    <div class="col-md-8 offset-2">
                                        <h1 class="register-heading">Modification des informations Diplômes et notes</h1><br /><br /><br />
                                        <div class="form-group">
                                            <h3 class="register-heading">Diplome obtenu</h3><br />


                                            <select name="Type" id="Type" class="form-control">
                                                <option selected>-- Choix de type du Diplôme --</option>

                                                @if (Session["niveau"].ToString() == "3")
                                                {
                                                    <option value="DUT">DUT</option>
                                                    <option value="DEUG">DEUG</option>
                                                    <option value="Lic.pro-DUT">Liscence Professionnelle - DUT</option>
                                                    <option value="Lic.pro-DEUG">Liscence Professionnelle - DEUG</option>
                                                    <option value="Lic.fnd-DUT">Liscence Fondamentale - DUT</option>
                                                    <option value="Lic.fnd-DEUG">Liscence Fondamentale - DEUG</option>
                                                    <option value="Lic.st-DUT">Liscence ST - DUT</option>
                                                    <option value="Lic.st-DEUG">Liscence ST - DEUG</option>
                                                }
                                                else if (Session["niveau"].ToString() == "4")
                                                {
                                                    <option value="Lic.pro">Liscence Professionnelle </option>
                                                    <option value="Lic.fnd">Liscence Fondamentale - DUT</option>
                                                    <option value="Lic.st">Liscence Sciences et Techniques </option>

                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Specialite, "Specialité", new { htmlAttributes = new { @class = "form-control",@placeholder="Specialité" } })
                                            @Html.ValidationMessageFor(model => model.Specialite, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.NoteDiplome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Note diplome" } })
                                            @Html.ValidationMessageFor(model => model.NoteDiplome, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <select name="Etablissement" class="form-control">
                                                <option selected>-- Choix d'Etablissement --</option>
                                                <option value="EST">École Supérieure de Technologie EST</option>
                                                <option value="FST">Faculté des Sciences et Techniques FST</option>
                                                <option value="FP">Faculté Polydisciplinaire FP</option>
                                                <option value="FS">Faculté des Sciences FS</option>

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.VilleObtention, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ville Obtention" } })
                                            @Html.ValidationMessageFor(model => model.VilleObtention, "", new { @class = "text-danger" })
                                            <br /><br />
                                        </div>

                                    </div>
                                    <h3 class="register-heading" style="margin-left: 96px;margin-bottom: 23px">Relevé de notes semestrielles</h3><br />
                                    <div style="display:flex">
                                        <div class="rs-select2--dark  rs-select2--border" style="width: 283px; padding-left: 97px;margin-right: 30px">

                                            <select name="AnneUni1" class="form-control">
                                                <option selected="selected">Année universitaire</option>
                                                <option value="2012/2013">2012/2013</option>
                                                <option value="2013/2014">2013/2014</option>
                                                <option value="2014/2015">2014/2015</option>
                                                <option value="2015/2016">2015/2016</option>
                                                <option value="2016/2017">2016/2017</option>

                                            </select>
                                            <br />
                                            <select name="AnneUni2" class="form-control">
                                                <option selected="selected">Année universitaire</option>
                                                <option value="2013/2014">2013/2014</option>
                                                <option value="2014/2015">2014/2015</option>
                                                <option value="2015/2016">2015/2016</option>
                                                <option value="2016/2017">2016/2017</option>
                                                <option value="2017/2018">2017/2018</option>
                                            </select>

                                            <br />
                                            <select id="AnneUni3" name="AnneUni3" class="form-control">
                                                <option selected="selected">Année universitaire</option>
                                                <option value="2014/2015">2014/2015</option>
                                                <option value="2015/2016">2015/2016</option>
                                                <option value="2016/2017">2016/2017</option>
                                                <option value="2017/2018">2017/2018</option>
                                                <option value="2018/2019">2018/2019</option>
                                            </select>

                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <div class="rs-select2--dark rs-select2--md  rs-select2--border" style="margin-right: 30px">

                                            <select name="Redoublant1" class="form-control">
                                                <option selected="selected" value=" ">Redoublement</option>
                                                <option value="Oui">Oui</option>
                                                <option value="Non">Non</option>
                                            </select>
                                            <br />
                                            <select name="Redoublant2" class="form-control">
                                                <option selected="selected" value=" ">Redoublement</option>
                                                <option value="Oui">Oui</option>
                                                <option value="Non">Non</option>
                                            </select>
                                            <br />

                                            <select name="Redoublant3" id="Redoublant3" class="form-control">
                                                <option selected="selected" value=" ">Redoublement</option>
                                                <option value="Oui">Oui</option>
                                                <option value="Non">Non</option>
                                            </select>

                                            <div class="dropDownSelect2"></div>


                                        </div>

                                        <div class="rs-select2--dark rs-select2--md rs-select2--border" style="margin-right: 30px">

                                            <div>
                                                @Html.EditorFor(model => model.Semestre1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Note Semestre1" } })
                                                @Html.ValidationMessageFor(model => model.Semestre1, "", new { @class = "text-danger" })
                                            </div>
                                            <br />
                                            <div>
                                                @Html.EditorFor(model => model.Semestre3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Note Semestre3" } })
                                                @Html.ValidationMessageFor(model => model.Semestre3, "", new { @class = "text-danger" })
                                            </div>
                                            <br />

                                            <div>
                                                @Html.EditorFor(model => model.Semestre5, new { htmlAttributes = new { @class = "form-control", @placeholder = "Note Semestre5" } })
                                                @Html.ValidationMessageFor(model => model.Semestre5, "", new { @class = "text-danger" })
                                            </div>



                                        </div>

                                        <div class="rs-select2--dark rs-select2--md rs-select2--border" style="margin-right: 30px">

                                            <div>
                                                @Html.EditorFor(model => model.Semestre2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Note Semestre2" } })
                                                @Html.ValidationMessageFor(model => model.Semestre2, "", new { @class = "text-danger" })
                                            </div>
                                            <br />
                                            <div>
                                                @Html.EditorFor(model => model.Semestre4, new { htmlAttributes = new { @class = "form-control", @placeholder = "Note Semestre4" } })
                                                @Html.ValidationMessageFor(model => model.Semestre4, "", new { @class = "text-danger" })
                                            </div>
                                            <br />

                                            <div>
                                                @Html.EditorFor(model => model.Semestre6, new { htmlAttributes = new { @class = "form-control", @placeholder = "Note Semestre6" } })
                                                @Html.ValidationMessageFor(model => model.Semestre6, "", new { @class = "text-danger" })
                                            </div>




                                        </div>
                                    </div>


                                    <div class="col-md-8 offset-2">
                                        <div class="form-group" style="margin-left: 260px">
                                            <br /><br />
                                            <button type="submit" class="btn btn-success" id="maj">Mettre à jour</button>

                                        </div>
                                    </div>
                                    <br /><br />




                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        console.log("hello");

        $("#Type").change(function () {
            console.log("fct");

            if (@Session["niveau"] == "3") {

                var select = $(this).children("option:selected").val();
                if (select == "DUT" || select == "DEUG") {
                    $("#Semestre6").hide();
                    $("#Semestre5").hide();
                    $("#AnneUni3").hide();
                    $("#Redoublant3").hide();
                }
                else {
                    $("#Semestre6").show();
                    $("#Semestre5").show();
                    $("#AnneUni3").show();
                    $("#Redoublant3").show();
                }

            }
            alert("You have selected the country - " + selectedCountry);
        });
    });
</script>