@model GestionConcours.Models.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <!-- Begin Page Content -->
        <div class="container-fluid">

            
            <h2 class="text-center py-5 text-gray-600 " >Bienvenue Admin !</h2>
            
            <div>
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="card text-white bg-success mb-3" style="max-width: 18rem; height:320px;">
                            <h4 class="card-header text-center">
                                <img src="~/Pictures/admin_pic/third.svg" class="mr-1" />
                                Total Inscrits en 3a
                            </h4>
                            <div class="card-body">
                                <h2 class="card-title text-center pb-2">Total : @Model.Inscrit3</h2>
                                <p class="card-text font-weight-bold pl-1"> - Informatique : @Model.Info3</p>
                                <p class="card-text font-weight-bold pl-1"> - Industriel : @Model.Indus3</p>
                                <p class="card-text font-weight-bold pl-1"> - Télécom : @Model.Gtr3</p>
                                <p class="card-text font-weight-bold pl-1"> - Procedès : @Model.Gpmc3</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="card text-white bg-info  mb-3" style="max-width: 18rem; height:320px;">
                            <h4 class="card-header text-center">
                                <img src="~/Pictures/admin_pic/four.svg" class="mr-1"/>
                                Total Inscrits en 4a</h4>
                            <div class="card-body">
                                <h2 class="card-title text-center pb-2">Total : @Model.Inscrit4</h2>
                                <p class="card-text font-weight-bold pl-1"> - Informatique : @Model.Info4</p>
                                <p class="card-text font-weight-bold pl-1"> - Industriel : @Model.Indus4</p>
                                <p class="card-text font-weight-bold pl-1"> - Télécom : @Model.Gtr4</p>
                                <p class="card-text font-weight-bold pl-1"> - Procedès : @Model.Gpmc4</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem; height:320px;">
                            <h4 class="card-header text-center">
                                <img src="~/Pictures/admin_pic/delete.svg" class="mr-1" />
                                Total Supprimés
                            </h4>
                            <div class="card-body">
                                <h2 class="card-title text-center pb-3">Total : @Model.Suprim</h2>                                
                                <p class="card-text font-weight-bold pl-1"> - 3ème Année : @Model.Suprim3</p>
                                <p class="card-text font-weight-bold pl-1"> - 4ème Année : @Model.Suprim4</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-6">
                        <div class="card text-white bg-warning mb-3" style="max-width: 18rem; height:320px;">
                            <h4 class="card-header text-center">
                                <img src="~/Pictures/admin_pic/grp.svg" class="mr-1" />
                                Total de Candidats
                            </h4>
                            <div class="card-body">
                                <br /><br />
                                      <h2 class="card-title text-center">Total : @Model.Total</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>